<!doctype html>
<style>
.page {
 min-height: 100vh;
 display: flex;
 flex-direction: column;
}

footer {
 margin-top: auto;
}

#home-main {
	min-height: 100vh;
 display: flex;
 flex-direction: column;

}

.tag {
	list-style: none;
	display: flex;
}
.tag-item {
	padding: 5px;
}
.blog-link {
        font-size: 40px;
}

#blog-list {
	list-style: none;
}
</style>

<html>
  <head>
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="google-site-verification" content="s6VqatIxN2DBwbA3Trs-FNXl18myirKFJtDNFaHEvnE" />
    <title>{{ page.title }}</title>
  </head>
  <body class="bg-dark text-white"> 
    {% include navigation.html %}
    <div class="page">
    <div id="home-main" class="p-3 mb-2 bg-secondary text-white"> 
		    {{ content }}
    </div>
    {% include footer.html %}
    </div>
  </body>
</html>
